@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  padding: 0%;
  margin: 0%;
  font-family: 'Inter', sans-serif;
}

.about {
  background-image: url(./images/mobileImages/header-illsutration-mobile.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  gap: 2rem;
}

.about h1 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  width: 327px;
}

.about h1 span {
  color: #36b37e;
  text-align: center;
}

.about p {
  color: #172b4d;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.about ul,
.social-connect {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.projects h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  text-align: center;
  color: #172b4d;
  position: relative;
}

.projects h3::after {
  position: absolute;
  content: '';
  background-color: #36b37e;
  bottom: -30px;
  left: 50%;
  width: 4rem;
  height: 1px;
  transform: translateX(-50%);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid #d0d9d4;
  border-radius: 5px;
}

.card img {
  height: 310px;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
}

.cardDetails p {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.cardDetails ul,
.skills {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}

.skills li,
.cardDetails ul li {
  background-color: #ebf0ee;
  padding: 12px 10px;
  color: #3a4a42;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  font-weight: 600;
}

.cardDetails button {
  color: #fff;
  background-color: #36b37f;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  width: 150px;
  border: none;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.about-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 1rem 2rem 1rem;
  background-image: url('./images/mobileImages/aboutbackground.svg');
  background-repeat: no-repeat;
  background-position: right 50px;
}

.about-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about-details h3 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.about-details p,
.contact p {
  color: #172b4d;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.about-details button {
  padding: 12px 10px;
  color: #fff;
  background-color: #36b37e;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 1rem;
}

.tech-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1rem;
  background-color: #ebf0ee;
  border: none;
  border-radius: 5px;
}

.tech-skills img {
  background-color: #fff;
  padding: 10px;
  border-radius: 100%;
}

.tech-skills p {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.skills li {
  color: #36b37e;
  background-color: #fff;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-image: url('./images/mobileImages/contackbackground.svg');
  background-repeat: no-repeat;
  background-position: right calc(100% - 120px);
}

.contact h3 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.contact form input {
  padding: 7px;
  color: #d0d9d4;
  border: 1px solid #d0d9d4;
}

.contact form textarea {
  padding: 7px;
  border: 1px solid #d0d9d4;
}

.contact form button {
  color: #fff;
  background-color: #36b37f;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  width: 150px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

.about-details button:hover,
.cardDetails button:hover,
.contact form button:hover {
  box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
}

.about-details button:active,
.contact form button:active,
.cardDetails button:active {
  background-color: #008552;
}
